h1 {
  color: darkslategray;
}

/* Task one */
.one {
  grid-area: one;
  background-color: teal;
}

.two {
  grid-area: two;
  background-color: cadetblue;
}

.three {
  grid-area: three;
  background-color: lightcyan;
}

.four {
  grid-area: four;
  background-color: darkslategray;
}

.five {
  grid-area: five;
  background-color: aquamarine;
}

.six {
  grid-area: six;
  background-color: darkcyan;
}

.seven {
  grid-area: seven;
  background-color: darkturquoise;
}

.eight {
  grid-area: eight;
  background-color: darkslategray;
}

.container {
  width: 100%;
  height: 500px;
  border: 1px solid darkslategray;
  margin-bottom: 20px;
  display: grid;
  gap: 5px 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "one one one"
    "two three four"
    "two five five"
    "six six seven"
    "eight eight eight";
}

/* Task two */
.task-two-container {
  width: 100%;
  height: 500px;
  border: 1px solid darkslategray;
  display: grid;
  gap: 5px 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.task-two-one {
  background-color: darkseagreen;
  grid-area: 1/1/2/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-two-two {
  background-color: rgb(93, 122, 93);
  grid-area: 2/1/4/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-two-three {
  background-color: rgb(116, 204, 116);
  grid-area: 2/2/4/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-two-four {
  background-color: rgb(108, 125, 108);
  grid-area: 2/3/4/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-two-five {
  background-color: rgb(48, 96, 48);
  grid-area: 4/1/4/2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-two-six {
  background-color: rgb(182, 222, 182);
  grid-area: 4/2/4/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-two-seven {
  background-color: rgb(68, 181, 68);
  grid-area: 4/3/4/4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-two-eight {
  background-color: rgb(12, 73, 12);
  grid-area: 5/1/5/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Task three, four and five >> HOMEWORK */
.task-three-container {
}
.task-three-one {
}
.task-three-two {
}
.task-three-three {
}
.task-three-four {
}
.task-three-five {
}
.task-three-six {
}
.task-three-seven {
}
.task-three-eight {
}
.task-three-nine {
}
.task-three-ten {
}
.task-three-eleven {
}
.task-three-twelve {
}

/* ANIMATION */

.animation {
  margin-top: 30px;
  height: 100px;
  width: 100px;
  position: relative;
  background-color: darkcyan;
  animation: change-color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* @keyframes change-color {
  from {
    transform: rotate(0deg);
    opacity: 100%;
  }
  to {
    transform: rotate(360deg);
    opacity: 1%;
  }
    0% {
    background-color: aqua;
  }
  20% {
    background-color: aquamarine;
  }
  40% {
    background-color: teal;
  }
  60% {
    background-color: cyan;
  }
  80% {
    background-color: cadetblue;
  }
  100% {
    background-color: aqua;
  } 
}*/

.animation-two {
  position: absolute;
  height: 50%;
  width: 50%;
  border-radius: 100%;
  background-color: palevioletred;
  top: 25%;
  left: 25%;
  animation: move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes move {
  from {
    top: 0%;
  }
  to {
    top: 50%;
  }
}
.button {
  margin: 15px 30px;
  transition: background-color 1s ease-in, transform 1s ease-in,
    color 1s ease-in;
  border: none;
  border-radius: 5px;
}

.button:hover {
  color: white;
  background-color: cornflowerblue;
  transform: scale(2);
}
