* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --primary-color: darkcyan;
    height: calc(100vh - 80px);
}

body {
    height: 100%;
}

.lorem-paragraph {
    margin: 20px;
    margin-right: 40px;
}

.lorem-paragraph::selection {
    background-color: lightcyan;
}

.lorem-paragraph::first-line {
    font-style: italic;
}

.first-letter {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.first-letter::selection {
    background-color: lightcyan;
}

div {
    width: 100px;
    height: 300px;
}

.first-div {
    background-color: var(--primary-color);
    float: left;
}

.second-div {
    background-color: cadetblue;
    float: left;
}

.third-div {
    background-color: paleturquoise;
    float: left;
}

.fourth-div {
    background-color: lightcyan;
    clear: both;
}

.card {
    margin: 20px;
    height: 200px;
    width: 350px;
    border: 2px dashed darkslategray;
    border-radius: 15px;
}

.image-placeholder {
    height: 170px;
    width: 140px;
    border: 2px dashed darkslategray;
    border-radius: 15px;
    float: right;
    background-color: lightcyan;
    margin-top: 15px;
    margin-right: 15px;
}

.placeholder-text {
    font-style: italic;
    text-align: center;
    margin-top: 50%;
}

.name-text {
    margin-top: 50px;
    margin-left: 15px;
}

.description-text {
    margin-top: 10px;
    margin-left: 15px;
}

.page {
    margin-top: 30px;
    margin-left: 20px;
    width: 95%;
    height: 500px;
    border: 4px solid darkslategray;
}

.header {
    width: 100%;
    height: 20%;
    background-color: lightcyan;
    border: 3px solid darkslategray;
}

.nav-bar {
    width: 100%;
    height: 10%;
    background-color: lightcyan;
    border: 3px solid darkslategray;
}

.first-aside {
    width: 20%;
    height: 50%;
    background-color: lightcyan;
    border: 3px solid darkslategray;
    float: left;
}

.main {
    width: 60%;
    height: 50%;
    background-color: lightcyan;
    border: 3px solid darkslategray;
    float: left;
}

.second-aside {
    width: 20%;
    height: 50%;
    background-color: lightcyan;
    border: 3px solid darkslategray;
    float: left;
}

.footer {
    width: 100%;
    height: 20%;
    background-color: lightcyan;
    border: 3px solid darkslategray;
    clear: both;
}

.lorem-container {
    width: 90%;
    height: 70px;
    margin-left: 20px;
    margin-top: 20px;
    border: 2px solid darkslategray;
}

.span {
    margin: 20px;
    display: inline-block;
    height: 30px;
    width: 30%;
    border: 2px solid darkslategray;
    background-color: lightcyan;
    position: relative;
}

.item {
    height: 40px;
    width: 40px;
    border: 1px solid darkslategray;
    border-radius: 100%;
    background-color: darkslategray;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1;
    opacity: 90%;
}

.item:hover {
    transform: scale(2);
    z-index: 1;
}

.overflow {
    margin: 20px;
    height: 200px;
    width: 200px;
    border: 2px solid darkslategray;
    overflow: scroll;
}

.container-ninety-two-one {
    width: 95%;
    height: 400px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid darkslategray;
}

.header-ninety-two {
    width: 100%;
    height: 20%;
    background-color: darkcyan;
}

.logo-ninety-two {
    width: 5%;
    height: 50%;
    background-color: lightcyan;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

.navigation-ninety-two {
    width: 10%;
    height: 50%;
    background-color: lightcyan;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.main-container-ninety-two {
    width: 100%;
    height: 70%;
    background-color: lightcyan;
}

.sidebar-ninety-two {
    width: 20%;
    height: 80%;
    background-color: darkcyan;
    float: left;
    margin: 15px;
    margin-right: 30px;
    box-sizing: border-box;
}

.subcontent-one-ninety-two, .subcontent-two-ninety-two {
    width: 60%;
    height: 35%;
    background-color: darkcyan;
    float: right;
    box-sizing: border-box;
    display: block;
    margin: 15px;
}


.footer-ninety-two {
    width: 100%;
    height: 10%;
    background-color: darkcyan;
}

.main-ninety-two-two {
    width: 95%;
    height: 400px;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid darkslategray;
}

.header-ninety-two-two {
    width: 100%;
    height: 20%;
    background-color: darkcyan;
}

.left-sidebar-ninety-two-two, .right-sidebar-ninety-two-two {
    width: 20%;
    height: 50%;
    background-color: lightcyan;
    float: left;
}

.main-content-ninety-two-two {
    width: 60%;
    height: 50%;
    background-color: cadetblue;
    float: left;
}

.footer-ninety-two-two {
    width: 100%;
    height: 30%;
    background-color: darkcyan;
    clear: both;
}

.elem-ninety-two-two {
    width: 20%;
    height: 50%;
    background-color: lightcyan;
    display: inline-block;
    margin: 33px;
    justify-items: center;
}

.container-ninety-two-three {
    width: 95%;
    height: 400px;
    border: 1px solid darkslategray;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    text-align: center;
}

.navigation-ninety-two-three {
    margin: 0.5%;
    width: 99%;
    height: 19%;
    background-color: darkslategray;
    border-radius: 15px;
}

.section-container {
    width: 100%;
    height: 57%;
    background-color: white;
}

.section-ninety-two-three {
    margin: 0.5%;
    width: 99%;
    height: 49%;
    background-color: darkcyan;
    border-radius: 15px;
}

.section-two-ninety-two-three {
    margin-left: 0.5%;
    width: 49%;
    height: 47%;
    background-color: cadetblue;
    border-radius: 15px;
    float: left;
}

.section-three-ninety-two-three {
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 49%;
    height: 47%;
    background-color: cadetblue;
    border-radius: 15px;
    float: left;
}

.footer-ninety-two-three {
    margin: 0.5%;
    width: 99%;
    height: 17.5%;
    background-color: darkslategray;
    border-radius: 15px;
}

